@import "_variables";

.video-header {
  background-color: rgb(0 90 158 / 16%);
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  height: 100px;

  .left-side {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .header-text {
    justify-content: center;
    color: $white;
  }
}
